body {
    font-family: arial;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

nav {
  position: relative;
}

button {
  background-color: rgba(160,160,160,0.3);
  border: 1px solid lightgray;
  transition: ease 150ms all;
  font-size: 100%;
  padding: 8px;
  border-radius: 2px;
  margin: 0 20px;
  cursor: pointer;

  /*vertical align element*/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button:focus {outline:0;}

button:hover {
  background-color: rgba(0,140,200,1);
  border: 1px solid black;
}
