body {
    font-family: arial;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

nav {
  position: relative;
}

button {
  border: 1px solid lightgray;
  transition: ease 150ms all;
  font-size: 100%;
  padding: 8px;
  border-radius: 2px;
  margin: 0 20px;
  cursor: pointer;
}

button:focus {outline:0;}

button:hover {
  border: 1px solid black;
}

.grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.vertical_align {
  /*vertical align element*/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
